.smartData {
  position: absolute;
  left: 10px;
  top: 10px;

  height: 100px;
  min-width: 300px;

  background: hsl(0, 100%, 50%);
  -webkit-box-shadow: 8px 5px 38px -4px rgba(0,0,0,0.51);
  -moz-box-shadow: 8px 5px 38px -4px rgba(0,0,0,0.51);
  box-shadow: 8px 5px 38px -4px rgba(0,0,0,0.51);

  border-color: white;
  border-radius: 5px;
}

.content {
  padding: 10px;
  color: hsl(0, 0%, 98%)
}
